@model IEnumerable<TrafficReport.Models.tblLocationName>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lnLocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lnRegion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lnLocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lnRegion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.lnID }) |
            @Html.ActionLink("Details", "Details", new { id=item.lnID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.lnID })
        </td>
    </tr>
}

</table>
