@model IEnumerable<TrafficReport.Models.tblRainfall>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rfDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rfValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblLocationName.lnLocationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rfDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rfValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblLocationName.lnLocationName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.rfID }) |
            @Html.ActionLink("Details", "Details", new { id=item.rfID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.rfID })
        </td>
    </tr>
}

</table>
