@model IEnumerable<TrafficReport.Models.tblTrafficAccident>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taLat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taLong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblRoadName.rnRoadName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taLat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taLong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblRoadName.rnRoadName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.taID }) |
            @Html.ActionLink("Details", "Details", new { id=item.taID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.taID })
        </td>
    </tr>
}

</table>
