@model IEnumerable<TrafficReport.Models.myViewModel>

@*@model System.Data.Entity.Infrastructure.DbQuery<TrafficReport.Models.myViewModel>*@ 
@{
    ViewBag.Title = "FormResults";
}

<h2>FormResults</h2>


@Html.Encode(ViewData["regions"])
@Html.Encode(ViewData["roadNames"])

@Html.Encode(ViewData["period"])
@Html.Encode(ViewData["reportType"])



<dl class="dl-horizontal">
    <dt>
        
    </dt>

    

</dl>

@foreach (var item in Model)
{


           <div>@item.tblRoadName.rnRoadName</div> 
           <div>@item.tblTrafficAccident.taID</div>
   
   
}
   




