@model IEnumerable<TrafficReport.Models.myViewModel>

@*@model System.Data.Entity.Infrastructure.DbQuery<TrafficReport.Models.myViewModel>*@
@{
    ViewBag.Title = "FormResults";
}

<h2>FormResults</h2>


@Html.Encode(ViewData["regions"])
@Html.Encode(ViewData["roadNames"])

@Html.Encode(ViewData["period"])
@Html.Encode(ViewData["reportType"])
@Html.Encode(ViewData["date"])
@Html.Encode(ViewData["testdate"])
@Html.Encode(ViewData["result"])



<dl class="dl-horizontal">
    <dt>

    </dt>



</dl>
<table>
    <tr>
        <th>Road Name</th>
        <th>Date</th>
        <th>Rainfall Value</th>
    </tr>
    @foreach (var item in Model)
    {


        <tr>
            <td>
                @item.tblRoadName.rnRoadName
            </td>

            <td>@item.tblTrafficAccident.taDateTime</td>

            <td>@item.tblRainfall.rfValue</td>

            
        </tr>
        
    }
        
    </table>

@*<div>@item.tblRoadName.rnRoadName</div>
    <div>@item.tblTrafficAccident.taID</div>
    <div>@item.tblTrafficAccident.taDateTime</div>
    <div>@item.tblRainfall.rfDate</div>
    <div>@item.tblRainfall.rfValue</div>*@



