
@model IEnumerable<TrafficReport.Models.myViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Traffic Reports</h2>
@using System.Web.Script.Serialization;
@using System.Collections.Generic;
@using Newtonsoft.Json;

<div class="container">
    <div class="row col-md-6">
        @using (Html.BeginForm("HandleForm", "Traffic", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Region: </td>
                    <td>
                        @Html.DropDownList("regions")
                    </td>
                    <td>Road Name: </td>
                    <td colspan="2">
                        @Html.DropDownList("roadNames")
                    </td>


                </tr>

                <tr>
                    <td>Period: </td>
                    <td width="100px">
                        @Html.RadioButton("period", "1month", true) 1-Month
                    </td>
                    <td width="100px">@Html.RadioButton("period", "3month", false) 3-Month </td>
                    <td width="100px">@Html.RadioButton("period", "6month", false) 6-Months </td>
                    <td width="100px">@Html.RadioButton("period", "1year", false) 1-Year </td>

                </tr>
                <tr>
                    <td>Report Type: </td>
                    <td>@Html.RadioButton("reportType", "accident", true) Accidents</td>
                    <td>@Html.RadioButton("reportType", "congestion", false) Congestions</td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Search" /></td>
                </tr>
            </table>
            <br><br>

            if (!Model.Any())
            {
                <tr>
                    <td>Theres nothing during this point of time. </td>
                </tr>
            }
            else if (ViewBag.reportType == "accident")
            {

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                                function TestDrawChart() {
                                    google.charts.load('current', { 'packages': ['bar'] });
                                    google.charts.setOnLoadCallback(drawChart);
                                    function drawChart() {
                                                 
                                        @{ int i = 0; }
                                        @foreach (var item in Model)
                                        {
                                            if (item != null)
                                            {
                                                i++;
                                            }
                                        }
                                        // new method
                                        var data = new google.visualization.DataTable();
                                        data.addColumn('string', 'Date');
                                        data.addColumn('number', 'rfValue');
                                        data.addColumn('number','Number of Accidents');
                                        @foreach (var item in Model)
                                        {
                                            if(item != null)
                                            {
                                                //@: data.addRow(["@item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy")", "@item.tblRainfall.rfValue.ToString()", "@item.tblTrafficAccident.taDescription.ToString()"]);
                                                  @: data.addRow(["@item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy")", @item.tblRainfall.rfValue, @i]);
                                            }
                                        }

                                        // OLD METHOD - sabri
                                        //var data = google.visualization.arrayToDataTable([
                                        //  ['Date', 'rfValue'],
                                        //  [Description, rfValue[0]],
                                        //  [Description[1], rfValue[1]],
                                        //  [Description[2], rfValue[2]],
                                        //  [Description[3], rfValue[3]]
                                        //]);


                                        var options = {
                                            bars: 'horizontal' // Required for Material Bar Charts.
                                        };

                                        var chart = new google.charts.Bar(document.getElementById('barchart_material'));
                                        chart.draw(data, options);
                                    }
                                }
                            </script>
                            
                            
                            
                            //-------------------- STEP 1 ---------------------------------------//
                            // When User [POST] query, this is activated, so will call the function above this
                            <div id="barchart_material" style="width: 900px; height: 500px;">
                                <script>
                                    TestDrawChart();
                                </script>
                            </div>



                            <br>
                            <br>
                <table border="1">
                    <tr>
                        <th>Road Name</th>
                        <th>Date</th>
                        <th>Rainfall Value</th>
                        <th>Accident Description</th>
                    </tr>

                    @{
                        foreach (var item in Model)
                        {
                            //if (item != null)
                            //{
                            //    RoadName = item.tblRoadName.rnRoadName;
                            //    AcccidentDate.Add(item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy"));
                            //    RFValue.Add(item.tblRainfall.rfValue);
                            //    AccDescription.Add(item.tblTrafficAccident.taDescription.ToString());
                            //}

                            <tr>
                                <td>
                                    @item.tblRoadName.rnRoadName
                                </td>

                                <td>@item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy")</td>

                                <td>@item.tblRainfall.rfValue</td>

                                <td>@item.tblTrafficAccident.taDescription</td>

                            </tr>
                            //i++;
                        }

                       // JavaScriptSerializer jsss = new JavaScriptSerializer();
                       // string rfValue = jsss.Serialize((object)RFValue);

                    }

                </table>

                        }
                        else if (ViewBag.reportType == "congestion")
                        {
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                <script type="text/javascript">
                                    function TestDrawChart_Congestion() {
                                        google.charts.load('current', { 'packages': ['bar'] });
                                        google.charts.setOnLoadCallback(drawChart_Congestion);
                                        function drawChart_Congestion() {

                                            var data = new google.visualization.DataTable();
                                            data.addColumn('string', 'Date');
                                            data.addColumn('number', 'rfValue');
                                            data.addColumn('number', 'Average Speed');
                                            @foreach (var item in Model)
                                        {
                                            if (item != null)
                                            {
                                                @: data.addRow(["@item.tblTrafficSpeed.tsDateTime.ToString("dd/MM/yyyy")", @item.tblRainfall.rfValue, @((item.tblTrafficSpeed.tsMinSpeed + item.tblTrafficSpeed.tsMaxSpeed) / 2)]);
                                                                                                            }
                                        }

                                            var options = {
                                                bars: 'horizontal' // Required for Material Bar Charts.
                                            };

                                            var chart = new google.charts.Bar(document.getElementById('barchart_material_Congestion'));
                                            chart.draw(data, options);
                                        }
                                    }
                                </script>

                                <div id="barchart_material_Congestion" style="width: 900px; height: 500px;">
                                    <script>
                                        TestDrawChart_Congestion();
                                    </script>
                                </div>
                            <table border="1">
                                <tr>
                                    <th>Road Name</th>
                                    <th>DateTime</th>
                                    <th>Rainfall Value</th>
                                    <th>Average Speed</th>
                                </tr>

                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @item.tblRoadName.rnRoadName
                                        </td>

                                        <td>@item.tblTrafficSpeed.tsDateTime.ToString()</td>

                                        <td>@item.tblRainfall.rfValue</td>

                                        <td>@((item.tblTrafficSpeed.tsMinSpeed + item.tblTrafficSpeed.tsMaxSpeed) / 2) </td>

                                    </tr>

                                }

                            </table>
                            }


                        }
    </div>
</div>
