
@model IEnumerable<TrafficReport.Models.myViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Traffic Reports</h2>


@using (Html.BeginForm("HandleForm", "Traffic", FormMethod.Post))
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        function TestDrawChart(RoadName, Date, Description) {
            google.charts.load('current', { 'packages': ['bar'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                  ['Year', 'Sales', 'Expenses', 'Profit'],
                  ['2014', 1000, 400, 200],
                  ['2015', 1170, 460, 250],
                  ['2016', 660, 1120, 300],
                  ['2017', 1030, 540, 350]
                ]);

                var options = {
                    chart: {
                        title: RoadName,
                        subtitle: RoadName + ', ' + Description + ', and Profit: 2014-2017: ' + Date,
                    },
                    bars: 'horizontal' // Required for Material Bar Charts.
                };

                var chart = new google.charts.Bar(document.getElementById('barchart_material'));

                chart.draw(data, options);
            }
        }
    </script>

    <table>
        <tr>
            <td>Region: </td>
            <td>
                @Html.DropDownList("regions")
            </td>
            <td>Road Name: </td>
            <td colspan="2">
                @Html.DropDownList("roadNames")
            </td>


        </tr>

        <tr>
            <td>Period: </td>
            <td width="100px">
                @Html.RadioButton("period", "1month", true) 1-Month
            </td>
            <td width="100px">@Html.RadioButton("period", "3month", false) 3-Month </td>
            <td width="100px">@Html.RadioButton("period", "6month", false) 6-Months </td>
            <td width="100px">@Html.RadioButton("period", "1year", false) 1-Year </td>

        </tr>
        <tr>
            <td>Report Type: </td>
            <td>@Html.RadioButton("reportType", "accidents", true) Accidents</td>
            <td>@Html.RadioButton("reportType", "congestions", false) Congestions</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="submit" value="Search" /></td>
        </tr>
    </table>


    if (!Model.Any())
    {
        <tr>
            <td>Theres nothing during this point of time. </td>
        </tr>
    }
    else
    {

        <table border="1">
            <tr>
                <th>Road Name</th>
                <th>Date</th>
                <th>Rainfall Value</th>
                <th>Accident Description</th>
            </tr>//Div that will hold the pie chart

            @{
                List<decimal> RFValue = new List<decimal>();
                String RoadName="";
                String Date="";
                String Description="";
            }

                    @foreach (var item in Model)
                    {
                        if (item != null)
                        {
                            RoadName = item.tblRoadName.rnRoadName;
                            Date = item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy");
                            RFValue.Add(item.tblRainfall.rfValue);
                            Description = item.tblTrafficAccident.taDescription;
                        }

                        <tr>
                            <td>
                                @item.tblRoadName.rnRoadName
                            </td>

                            <td>@item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy")</td>

                            <td>@item.tblRainfall.rfValue</td>

                            <td>@item.tblTrafficAccident.taDescription</td>

                        </tr>

                    }

        </table>
        <div id="barchart_material" style="width: 900px; height: 500px;">
            <script>
                TestDrawChart("@RoadName", "@Date", "@Description");
            </script>
        </div>
    }


}
