@model IEnumerable<TrafficReport.Models.myViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Traffic Reports</h2>


@using (Html.BeginForm("HandleForm", "Traffic", FormMethod.Post))
{

    <table>
        <tr>
            <td>Region: </td>
            <td>
                @Html.DropDownList("regions")
            </td>
            <td>Road Name: </td>
            <td colspan="2">
                @Html.DropDownList("roadNames")
            </td>
            

        </tr>

        <tr>
            <td>Period: </td>
            <td width="100px">
                @Html.RadioButton("period", "1month", true) 1-Month
            </td>
            <td width="100px">@Html.RadioButton("period", "3month", false) 3-Month </td>
            <td width="100px">@Html.RadioButton("period", "6month", false) 6-Months </td>
            <td width="100px">@Html.RadioButton("period", "1year", false) 1-Year </td>
               
        </tr>
        <tr>
            <td>Report Type: </td>
            <td>@Html.RadioButton("reportType", "accidents", true) Accidents</td>
            <td>@Html.RadioButton("reportType", "congestions", false) Congestions</td>
        </tr>

        <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="submit" value="Search" /></td></tr>
    </table>

    <table border="1">
        <tr>
            <th>Road Name</th>
            <th>Date</th>
            <th>Rainfall Value</th>
        </tr>


        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @item.tblRoadName.rnRoadName
                </td>

                <td>@item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy")</td>

                <td>@item.tblRainfall.rfValue</td>


            </tr>

        }

    </table>



} 


