@model IEnumerable<TrafficReport.Models.QueryViewModel>
@{
    ViewBag.Title = "Search";
}
@using System.Web.Script.Serialization;
@using System.Collections.Generic;
@using Newtonsoft.Json;

<!-- FORM CONTAINER -->
<div>
    <div style="padding-left:50px; padding-right:50px; margin-top:30px">

        <div class="row">
            <!-- Form -->
            <div class="col-md-4">
                @using (Html.BeginForm("HandleForm", "Traffic", FormMethod.Post, new { @class = "form-horizontal" }))
        {
        <!-- Form Region RoadName-->
                    <h1><b>Traffic Report</b></h1>

                    <div class="form-group">
                        <div class="form-inline">

                            <label class="col-sm-3 col-md-3">Regions :</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.DropDownList("regions", null, new { onchange = "this.form.submit()" })
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-inline">

                            <label class="col-sm-3 col-md-3">Road Name :</label>
                            <div class="col-sm-3 col-md-3">
                                @Html.DropDownList("roadNames")
                            </div>

                        </div>
                    </div>

            <!-- Radio Button-->
                    <div class="form-group">
                        <div class="form-inline">

                            <label class="col-sm-3">Period :</label>

                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    @Html.RadioButton("period", "1month", true) 1-Month
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButton("period", "3month", false) 3-Months
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButton("period", "6month", false) 6-Months
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButton("period", "1year", false) 1-Year
                                </label>
                            </div>

                        </div>
                    </div>

            <!--Inline the radio buttons -->
                    <div class="form-group">
                        <div class="form-inline">

                            <label class="col-sm-3 ">Report type :</label>

                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    @Html.RadioButton("reportType", "accident", true) Accidents
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButton("reportType", "congestion", false) Congestions
                                </label>
                            </div>
                        </div>
                    </div>

            <!-- Search Button-->
                    <div class="col-md-3">
                        <button class="btn btn-primary" type="submit" value="Search"> Search</button>
                    </div>

        }
            </div>



            <!-- ######################################################################## -->
            <br />
            <br />

            <!-- Bar chart -->
            <div class="col-md-6">
                @if (!Model.Any())
                { <p>Nothing to display</p> }
                else if (ViewBag.reportType == "accident")
                {
               <!-- ACCIDENT -->

                <!-- SCRIPT DATA-->
                    <div class="col-md-6">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            function DrawChart_Accident() {
                                google.charts.load('current', { 'packages': ['bar'] });
                                google.charts.setOnLoadCallback(drawChart_Accident);
                                function drawChart_Accident() {

                                    var data = new google.visualization.DataTable();
                                    data.addColumn('string', 'Date');
                                    data.addColumn('number', 'rfValue');
                                    data.addColumn('number', 'Number of Accidents');
                                    @foreach (var item in Model)
                            {
                                if(item != null)
                                {
                                    //@: data.addRow(["@item.tblTrafficAccident.taDateTime.ToString("dd/MM/yyyy")", "@item.tblRainfall.rfValue.ToString()", "@item.tblTrafficAccident.taDescription.ToString()"]);
                                    //@: data.addRow(["10","11", "12"]);
                                    @: data.addRow(["1/@item.date/2016", @item.rainfall, @item.number]);
                                                                                                }
                            }

                                    var options = {
                                        bars: 'horizontal', // Required for Material Bar Charts.
                                        bar: { groupWidth: "75%" }
                                    };

                                    var chart = new google.charts.Bar(document.getElementById('barchart_material'));
                                    chart.draw(data, options);
                                }
                            }
                        </script>

                        <div id="barchart_material" style="width: 900px; height: 500px;">
                            <script>DrawChart_Accident();</script>
                        </div>


                    </div>

                }
                else if (ViewBag.reportType == "congestion")
                {
            <!-- CONGESTION -->

                <!-- SCRIPT DATA -->
                    <div class="col-md-6">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                            function DrawChart_Congestion() {
                                google.charts.load('current', { 'packages': ['bar'] });
                                google.charts.setOnLoadCallback(drawChart_Congestion);
                                function drawChart_Congestion() {

                                    var data = new google.visualization.DataTable();
                                    data.addColumn('string', 'Date');
                                    data.addColumn('number', 'rfValue');
                                    data.addColumn('number', 'Average Speed');
                                    @foreach (var item in Model)
                                {
                                    if (item != null)
                                    {
                                        //   @: data.addRow(["@item.tblTrafficSpeed.tsDateTime.ToString("dd/MM/yyyy")", @item.tblRainfall.rfValue, @((item.tblTrafficSpeed.tsMinSpeed + item.tblTrafficSpeed.tsMaxSpeed) / 2)]);
                                        @: data.addRow(["1/@item.date/2016", @item.rainfall, @item.number]);

                                    }
                                }

                                    var options = {
                                        bars: 'horizontal' // Required for Material Bar Charts.
                                    };

                                    var chart = new google.charts.Bar(document.getElementById('barchart_material_Congestion'));
                                    chart.draw(data, options);
                                }
                            }
                        </script>

                        <div id="barchart_material_Congestion" style="width: 700px; height: 500px;">
                            <script>DrawChart_Congestion();</script>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>

    <!-- ######################################################################## -->

    <br />
    <br />

    <!-- TABLE -->
    <div style="padding-left:50px; padding-right:50px">
        <!-- Table for Accident Data -->
        @if (!Model.Any())
    { <p>Nothing to display</p> }
    else if (ViewBag.reportType == "accident")
    {
        <!-- ACCIDENT -->
    <div class="row">
        <!-- TABLE ITSELF-->
        <div class="col-md-6">
            <table class="table table-condensed table-hover">

                <tr class="warning">
                    <th>Road Name</th>
                    <th>Date</th>
                    <th>Rainfall Value</th>
                    <th>Number of Accidents </th>
                </tr>

                @{foreach (var item in Model)
                        {
                    <tr>
                        <td>@item.roadName</td>

                        <td>
                            @if (ViewBag.period == "1year" || ViewBag.period == "3month" || ViewBag.period == "6month")
                                    {

                                        switch (item.date)
                                        {
                                            case 1:
                                                item.monthName = "January";
                                                break;
                                            case 2:
                                                item.monthName = "February";
                                                break;
                                            case 3:
                                                item.monthName = "March";
                                                break;
                                            case 4:
                                                item.monthName = "April";
                                                break;
                                            case 5:
                                                item.monthName = "May";
                                                break;
                                            case 6:
                                                item.monthName = "June";
                                                break;
                                            case 7:
                                                item.monthName = "July";
                                                break;
                                            case 8:
                                                item.monthName = "August";
                                                break;
                                            case 9:
                                                item.monthName = "September";
                                                break;
                                            case 10:
                                                item.monthName = "October";
                                                break;
                                            case 11:
                                                item.monthName = "November";
                                                break;
                                            case 12:
                                                item.monthName = "December";
                                                break;
                                        }

                                @item.monthName
                                    }
                                    else if (ViewBag.period == "1month")
                                    {
                                @item.date
                                    }
                    </td>

                    <td>@item.rainfall</td>

                    <td>@item.number</td>
                </tr>
                        }

                }

            </table>
        </div>

    </div>
    }
    else if (ViewBag.reportType == "congestion")
    {
        <!-- CONGESTION -->
    <div class="row">

        <!-- TABLE ITSELF-->
        <div class="col-md-6">
            <table class="table table-condensed table-hover">
                <tr class="warning">
                    <th>Road Name</th>
                    <th>DateTime</th>
                    <th>Rainfall Value</th>
                    <th>Average Speed</th>
                </tr>

                @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.roadName</td>

                        <td>
                            @if (ViewBag.period == "1year" || ViewBag.period == "3month" || ViewBag.period == "6month")
                                {
                                    switch (item.date)
                                    {
                                        case 1:
                                            item.monthName = "January";
                                            break;
                                        case 2:
                                            item.monthName = "February";
                                            break;
                                        case 3:
                                            item.monthName = "March";
                                            break;
                                        case 4:
                                            item.monthName = "April";
                                            break;
                                        case 5:
                                            item.monthName = "May";
                                            break;
                                        case 6:
                                            item.monthName = "June";
                                            break;
                                        case 7:
                                            item.monthName = "July";
                                            break;
                                        case 8:
                                            item.monthName = "August";
                                            break;
                                        case 9:
                                            item.monthName = "September";
                                            break;
                                        case 10:
                                            item.monthName = "October";
                                            break;
                                        case 11:
                                            item.monthName = "November";
                                            break;
                                        case 12:
                                            item.monthName = "December";
                                            break;
                                    }

                            @item.monthName
                                }
                                else if (ViewBag.period == "1month")
                                {
                            @item.date
                                }
                    </td>

                    <td>@item.rainfall</td>

                    <td>@item.number</td>
                </tr>
                    }
            </table>
        </div>

    </div>
    }
    </div>

</div>
